# local package
-e .
pandas>=2.1.4
numpy>=1.26.4
matplotlib>=3.8.3
plotly>=5.20.0
scipy
scikit-learn>=1.4.0
xgboost>=2.0.3
lightgbm>=4.3.0
nbformat>=4.2.0
pycaret<=3.3.0
fastapi>=0.110.0
uvicorn
streamlit
openpyxl
nbformat>=4.2.0
bayesian-optimization
# external requirements
python-dotenv>=0.5.1
google-cloud>=0.34.0
google-cloud-bigquery>=3.21.0
# external requirements
python-dotenv>=0.5.1
